@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?o5xhyp');
  src:  url('/fonts/icomoon.eot?o5xhyp#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?o5xhyp') format('truetype'),
    url('/fonts/icomoon.woff?o5xhyp') format('woff'),
    url('/fonts/icomoon.svg?o5xhyp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Vouchers:before {
  content: "\e900";
}
.icon-Views:before {
  content: "\e901";
}
.icon-Vacature:before {
  content: "\e902";
}
.icon-Update-ad:before {
  content: "\e903";
}
.icon-Undo:before {
  content: "\e904";
}
.icon-Time:before {
  content: "\e905";
}
.icon-Tag:before {
  content: "\e906";
}
.icon-Star:before {
  content: "\e907";
}
.icon-Sort:before {
  content: "\e908";
}
.icon-Shopping-Cart:before {
  content: "\e909";
}
.icon-Settings:before {
  content: "\e90a";
}
.icon-Send:before {
  content: "\e90b";
}
.icon-Select-multiple-items:before {
  content: "\e90c";
}
.icon-Search:before {
  content: "\e90d";
}
.icon-Save:before {
  content: "\e90e";
}
.icon-Rotate-Right:before {
  content: "\e90f";
}
.icon-Rotate-Left:before {
  content: "\e910";
}
.icon-Publish:before {
  content: "\e911";
}
.icon-Piggy-bank:before {
  content: "\e912";
}
.icon-Pictures:before {
  content: "\e913";
}
.icon-Phone:before {
  content: "\e914";
}
.icon-Payments:before {
  content: "\e915";
}
.icon-Overflow-menu-right-box:before {
  content: "\e916";
}
.icon-Overflow-menu:before {
  content: "\e917";
}
.icon-Off:before {
  content: "\e918";
}
.icon-Notification:before {
  content: "\e919";
}
.icon-My-Account:before {
  content: "\e91a";
}
.icon-Message-_-Mail:before {
  content: "\e91b";
}
.icon-Logout:before {
  content: "\e91c";
}
.icon-Lock:before {
  content: "\e91d";
}
.icon-Locatie:before {
  content: "\e91e";
}
.icon-Load:before {
  content: "\e91f";
}
.icon-Info-alt:before {
  content: "\e920";
}
.icon-Info:before {
  content: "\e921";
}
.icon-Image:before {
  content: "\e922";
}
.icon-ID:before {
  content: "\e923";
}
.icon-Home:before {
  content: "\e924";
}
.icon-Hamburger:before {
  content: "\e925";
}
.icon-Globe:before {
  content: "\e926";
}
.icon-Filters:before {
  content: "\e927";
}
.icon-Event:before {
  content: "\e928";
}
.icon-Emoticon:before {
  content: "\e929";
}
.icon-Edit:before {
  content: "\e92a";
}
.icon-Download:before {
  content: "\e92b";
}
.icon-Dot-menu:before {
  content: "\e92c";
}
.icon-Document:before {
  content: "\e92d";
}
.icon-Delete:before {
  content: "\e92e";
}
.icon-Customer-Service:before {
  content: "\e92f";
}
.icon-Credits:before {
  content: "\e930";
}
.icon-Continue:before {
  content: "\e931";
}
.icon-Contacts-Address-book:before {
  content: "\e932";
}
.icon-Close:before {
  content: "\e933";
}
.icon-Chevron---Right:before {
  content: "\e934";
}
.icon-Chevron---Left:before {
  content: "\e935";
}
.icon-Check-alt:before {
  content: "\e936";
}
.icon-Check:before {
  content: "\e937";
}
.icon-Chat:before {
  content: "\e938";
}
.icon-Block:before {
  content: "\e939";
}
.icon-Back:before {
  content: "\e93a";
}
.icon-Alert-alt:before {
  content: "\e93b";
}
.icon-Alert:before {
  content: "\e93c";
}
.icon-Advertenties:before {
  content: "\e93d";
}
.icon-Add-account:before {
  content: "\e93e";
}
.icon-Add:before {
  content: "\e93f";
}
.icon-Accordion-Open:before {
  content: "\e940";
}
.icon-Accordion-Close:before {
  content: "\e941";
}
